<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
<h1> Name: {{.Name}}br<br/></h1>
{{/*nested*/}}
{{with .Address}}
    Address Street : {{.Street}}
    Address City : {{.City}}
    {{else}}
    <h1>Anda Tidak PUnya Alamat</h1>
{{end}}
</body>
</html>