<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
</head>
<body>
{{/*operator di depan di susul parameter pertama lalu parameter kedua*/}}
{{if ge .FinalValue 80}}
    <h1>Good</h1>
    {{/*operator di depan di susul parameter pertama lalu parameter kedua*/}}
        {{else if ge .FinalValue 60}}
    <h1>Nice Try</h1>
        {{else}}
    <h1>Try Again</h1>
{{end}}
</body>
</html>